.cat-info {
  width: 1100px;
  height: 100%;
  display: flex;
  margin-right: auto;
}
img {
  margin: 10px;
  width: 400px;
}
.container-text {
  width: 500px;
}
div.breed-select {
  width: 400;
   margin-right: auto;
}
.loader {
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invisible {
  display: none;
}
